@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
body, [data-testid="stAppViewContainer"] {
    color: white !important;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.title:hover {
    color: #FF5733;
}

.description {
    text-align: center;
    color: #071c85;
    background:white;
    font-size: 32px;
    font-weight:bold;
    border-radius:20px;
    margin-bottom: 2px; /* Description ke baad ka space kam kare */
    animation: fadeIn 2s ease-in-out;
}

[data-testid="stSidebar"] {
    background: linear-gradient(90deg, #60cc82, #008CBA,#045f33);
    color: white;
    border-right: 5px solid black !important; /* black Border */
    padding-right: 10px; /* Thoda space add karne ke liye */
}    
.stButton > button {
    background: linear-gradient(110deg, #06197b, #0f6129);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding-left : 20px;
    padding-right: 20px;
    transition: transform 0.3s ease;
}
.stButton > button:hover {
    transform: scale(1.05);
    color:white;
    background: linear-gradient(90deg, #0c6435, #24027a);
}
/* Main page ka selectbox color change */
[data-baseweb="select"] {
    background-color: #06197b !important; /* Green background */
    color: white !important; /* White text */
    border-radius: 5px !important; /* Rounded corners */
    padding: 5px !important;
    
}

/* Sidebar ka selectbox color change */
section[data-testid="stSidebar"] [data-baseweb="select"] {
    background-color: #071c85 !important; /* green background */
    color: white !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

/* Selected Category Heading */
.category-heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:#02910b !important; /* Text Color Fixed */
    padding: 10px; /* Adds spacing inside */
    /* background-color: #071c85; Background Color */
    border-radius: 8px; /* Smooth Rounded Corners */
    animation: fadeIn 1s ease-in-out;
}

    /* Result Box Styling */
    div.stAlert {
        background-color:#030f4c !important;   /* Light Green */
        color: #1B5E20 !important;
        font-size: 20px;
        border-radius: 10px;
        padding: 15px;
        font-weight:bold;
        border: 1px solid #66bb6a;
    }
/* Number Input Field Styling */
div[data-testid="stNumberInput"] input {
    border: 2px solid #4CAF50; /* Green Border */
    border-radius: 8px; /* Rounded Corners */
    padding: 10px;
    font-size: 16px;
    color:white;
    font-weight:bolder;
    background-color: #06197b !important; /* Green background */
}

/* Number Input Hover Effect */
div[data-testid="stNumberInput"] input:hover {
    border-color: #e8e7e6; /* Orange Border on Hover */
}

/* Number Input Focus Effect */
div[data-testid="stNumberInput"] input:focus {
    border-color: #007bff; /* Blue Border on Focus */
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}
